body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  
}
a:link{
  text-decoration: none;
}

.header{
  padding-top: 30px;
  text-align: center;
  background-color: gainsboro;
  padding-bottom: 20px;
}
.header div{
padding-bottom: 20px;
}
.footer{
  padding: 50px;
  text-align: center;
  background-color: gainsboro;
  
}
.startsida{
  text-align: center;
}
.highscore{
  border-style: solid; 
  margin: 20px;
  color: black;
  
}
.highscore:hover{
  border-style: solid; 
  margin: 20px;
  background-color: gray;
  color: black;
  
}
.game{
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin-top: 20px;
  margin-bottom: 10px;
}
.game div::first-child{
  text-decoration: none;
}
.points{
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}
.player_date{
  font-size: large;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Highscoretext{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  margin: 10px;
  text-align: center;
}
.newGame{
  margin-left: 20px;
 
}

.newGame div{
  margin-top: 10px;
  margin-bottom: 10px;
  
}
.newGame input{
  width: 400px;
}
.newGame select{
  width: 400px;
}
.newGame textarea{
  width: 400px;
}
.searchImg{
  text-align: right;
  padding-top: 10px;
}
.InfoImg{
  text-align: left;
  padding-top: 10px;
}
