<form method="post" >
  <div class="newGame">
    <h1>Nytt spel</h1>
    <div>
      
      <input type="text" name="Title" class="form-control" placeholder="Title"/>
    </div>
    <div>
      
      <textarea name="Description"class="form-control" rows="3" placeholder="Beskrivning"></textarea>
    </div>
    <div>
     
      <input name="ImageUrl" type="text" class="form-control" placeholder="Bild"/>
    </div>
    <div>
      <label>Genre</label>
      <select name="Genre"class="form-control">
        <option class="Puzzle">Puzzle</option>
        <option class="Shooter">Shooter</option>
        <option class="Platform">Platform</option>
        <option class="Action">Action-adventyre</option>
        <option class="Sport">Sport</option>
      </select>
    </div>
    <div>
      
      <input name="ReleaseDate" type="number" maxlength="4"  class="form-control" placeholder="Lanseringsår"/>
    </div>
    <div>
  </div>
  <button  type="submit" class="btn btn-primary">Lägg till</button>
</form>
